@mixin input-element {
  width: 100%;
  padding: 1em 0 1em 1.35em;
  margin-top: 0.75rem;
  height: 56px;
  border: 1px solid transparent;
  border-radius: 8px;
  outline: 0;
  background: $inp-default;
  transition: background-color 0.2s, border-color 0.2s;
  &:hover {
    background: $inp-hover;
  }
  &:active,
  &:focus {
    border: 1px solid $inp-active--border;
    background: $inp-active;
    caret-color: $inp-active--border;
  }
  &,
  &::placeholder {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
  }
  &::placeholder {
    color: $text-light;
  }
}

/* genre */

@mixin filled-pill {
  @include font-paragraph--the-smallest;
  color: $text-accent;
  background: $bg-accent;
  border-radius: 24px;
  padding: 0.6em 0.875em;
  display: inline-block;
}

/* day tab, hour tab */

@mixin bordered-pill {
  @include font-button;
  background: transparent;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-radius: 64px;
  transition: background-color 0.4s, border-color 0.2s;
  &:active,
  &:focus,
  &:hover {
    color: $text-white;
  }
}

@mixin outline-transparent {
  outline: none;
  border: 2px dotted transparent;
  border-radius: 44px;
  padding: 0.65em;
}

@mixin outline-focus {
  outline: none;
  border: 2px dotted $btn-pressed;
  border-radius: 44px;
  padding: 0.65em;
}
