/* text colors */
$text-accent: #ec1115;
$text-dark: #343541;
$text-light: #85868d;
$text-lighter: #aeaeb3;
$text-white: #ffffff;

/* background colors */
$bg-light: #f7f7f7;
$bg-accent: #fef6f6;
$bg-white: #ffffff;

/* button colors */
$btn-default: #ec1115;
$btn-hover: #a60c0e;
$btn-pressed: #f47073;
$btn-medium: #fbcfd0;

/* input colors */
$inp-default: #f0f0f0;
$inp-hover: #e5e5e5;
$inp-active: #2f80ed10;
$inp-active--border: #2f80ed;

/* layout width*/
$layout-width: 1440px;
